html,body{
  width:100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: #111;
}

.stage,
.UI,
.background,
.main{
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

.background{
  z-index: 0;
}

.black-frame,.full-screen{
  width:100%;
  height: 100%;
}

.black-frame > *{
  background: black;
  opacity: 0.5;
  position: fixed;
  width:100%;
  height: 100%;
}

.black-frame > .left{
  left: -50%;
  margin-left: -300px;
}

.black-frame > .right{
  left: 50%;
  margin-left: 300px;
}

.black-frame > .top,
.black-frame > .bottom{
  width: 600px;
  left:50%;
  margin-left:-300px;
}

.black-frame > .top{
  top: -50%;
  margin-top: -500px;
}

.black-frame > .bottom{
  top: 50%;
  margin-top: 500px;
}

.bg_layer-0{
  background-repeat: no-repeat;
  background-image: url('/images/bg-1.jpg');
  background-position: center;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
}

.graphic{
  position: fixed;
  top: 0;
  left: 0;
}

.overlay.graphic{
  width: 100%;
  height: 100%;
}

.bg_stars{
  background-repeat: repeat-y;
  background-size: cover;
}

.saturn{
  background-repeat: no-repeat;
  width:107px;
  height: 179px;
  background-position: -415px -599px;
  -moz-transform: rotate(155deg) scale(1.4);
  -webkit-transform: rotate(155deg) scale(1.4);
  -o-transform: rotate(155deg) scale(1.4);
  -ms-transform: rotate(155deg) scale(1.4);
  transform: rotate(155deg) scale(1.4);
}

.ship{
  width:80px;
  height: 80px;
  position: absolute;
  background-repeat: no-repeat;
  background-image: url('/images/sprite-1.png');
  background-position: -372px -1765px;
}

.red.ship{
  width:57px;
  height: 78px;
  background-position: -148px -387px;
}

.player{
  background-position: -372px -1765px;
}

.bullet{
  position: absolute;
  width:5px;
  height: 10px;
  background: #99f0ff;
  border-radius: 100%;
  -webkit-box-shadow: 0 1px 5px 0 #68d7ed;
  box-shadow: 0 1px 5px 0 #68d7ed;
}

.main{
  left: 50%;
  top:50%;
  width: 600px;
  height: 1000px;
  margin-left: -300px;
  margin-top: -500px;
}

@import "ui";
